.img{
    float: left;
    margin-left: 30px;
    padding-top: 15px;
}
.name{
    margin-left: 100px;
    font-size: 40px;
    padding-top: 14px;
}
.link{
    float: right;
    padding-right: 50px;
    margin-top: -60px;
    
}
.a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
a{
    text-decoration: none;
}
header{
    margin-top: -30px;
    width: 100%;
    height: 70px;
    background-image:linear-gradient(to right, white, #0B8EEE) ;
}
body{
    margin: 0px;
    height: 100vh;
    background-image: url(/images/loan.jpg);
    background-position: top;
    background-size: cover;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #0B8EEE;
    text-align: center;
}
nav a{
    font-size: 20px;
    color: white;
    padding-left: 40px;
    
}
section div{
    width: 100%;
    height: max-content;
    padding-left: 10%;
}
section{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    color: black;
}
label{
    width: 200px;
    display: inline-block;
}
button{
    margin-left: 204px;
    background-color: green;
    color: white;
}

.a1{
    padding-left: 50px;
    color: black;
    
}

.a1:hover{
    font-size: 20px;
    font-weight: bold;
}
form{
    padding-left: 100px;
    
}
.success{
	color: green;
	padding-left: 20%;
	font-size: 20px;
}
.status{
	font-size: 20px
}